<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BravoTeam Project</title>

    <!-- IconScout -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- CSS Style Sheet -->
    <link rel="stylesheet" href="style.css">

    <!-- Awesome Fonts -->
    <script src="https://kit.fontawesome.com/a74d20a4cd.js" crossorigin="anonymous"></script>

</head>

<body>

    <nav>
        <div class="container">
            <h2 class="logo">
                PhotoSnap
            </h2>
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" name="" id="" placeholder="Search for creators, inspirations, and projects">
            </div>
            <div class="create">
                <a href="/logout" class="btn btn-primary">Log out</a>
                <div class="profile-photo"><a href="/editprofile"><img src="" alt="profile-photo"></a>
                <div class="profile-photo"><img src="images/profile-1.jpg" alt="">
                </div>
            </div>
        </div>
    </nav>